nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.849);
    border-bottom: 3px solid blueviolet;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    color: white;
}

.logo-nome {
    color: white;
}

.box-nav-img {
    margin-top: 5px;
    font-size: 1.2em;
    padding-top: 10px;
}

nav svg {
    font-size: 2.5em;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}



@media (max-width: 800px) {

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.952);
        text-align: center;
        width: 100%;
        height: 0;
        top: 73px;
        right: 0;
        transition: 1s;
        z-index: 1000;
    }

    .menu-mobile li {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 1.5em;
    }

    .menu-mobile a:hover {
        color: violet;
    }

    .menu-mobile a {
        color: white;
        text-decoration: none;
    }

    .menu-mobile.active {
        opacity: 1;
        overflow-y: auto;
        height: calc(100vh - 70px );
        display: block;
    }

    .menu-mobile.inactive {
        display: none;
    }
    
    .menu-mobile {
        opacity: 0;
    }
    
}

@media (min-width: 802px) {
    .menu-mobile {
        display: none; 
    }

    .btn-menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: flex;
        gap: 20px;
        list-style: none;
        align-items: center;
    }

    .menu-desktop a {
        color: white;
        text-decoration: none;
    }
}

/* Scroll suave */
html {
    scroll-behavior: smooth;
  }